@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ff Outfit 
## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
*/

main {
  background: #0c192c;
  font-family: Outfit;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

main section {
  background: rgba(21, 39, 63, 255);
  padding: 6.5% 0 0 0;
  margin: 2% 6.5% 0;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .5);
}

main section>img {
  width: 85%;
  margin: 0% auto 0%;
  border-radius: 7px;
}

main section>h1 {
  padding: 1% 0 0 0;
  margin: 5.5% 5% 0 7.3%;
  font-size: 3.3vh;
  color: #faffff;
}

main section>p {
  margin: 2.5% 5% 0 7.3%;
  font-weight: lighter;
  line-height: 4vh;
  padding: 0 0 5% 0;
}

h1 {
  color: white;
}

p {
  color: #8a9fbe;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e4058;
  width: 86%;
  margin: 0% auto 1%;
  padding: 0 0 4% 0;
}

.upperLeft {
  color: #14faf2;
  display: flex;
  align-items: center;
  width: 100%;
}

.upperRight {
  color: #a0b7d7;
  display: flex;
  align-items: center;
  width: 55%;
}

.upperLeft img,
.upperRight img {
  height: 20px;
}

.upperLeft img {
  padding: 0 3% 0 0;
  margin: 0 0% 0 0%;
}

.upperRight img {
  margin-right: 5px;
}

.upperRight span {
  padding: 0 0 0 0%;
  font-weight: lighter;
  font-size: 2.3vh;
}

.lowerBlock {
  color: #a0b7d7;
  display: flex;
  align-items: center;
  padding: 3% 0 7% 0;
  margin: 0% 0 1% 0;
}

.lowerBlock span {
  font-size: 2.3vh;
}

.lowerBlock a {
  text-decoration: none;
  color: white;
}

.lowerBlock img {
  width: 34px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 4.3% 0 7%;
}

@media screen and (min-width: 1440px) {
  main {
    justify-content: center;
  }

  main section {
    margin: 3% 0 0 0;
    width: 350px;
    height: 600px;
    padding: 6.5% 0 3% 0;
  }

  main section>img {
    width: 86%;
    margin: -20% auto 0;
  }

  main section>h1 {
    font-size: 2.5vh;
    padding: 1% 0 1.2% 0;
  }

  main section>p {
    font-size: 2vh;
    line-height: 26px;
    padding: 0 0 6% 0;
  }

  .upperRight span {
    font-size: 1.9vh;
  }

  .flex {
    padding: 0 0 7% 0;
  }

  .lowerBlock span {
    font-size: 1.8vh;
  }

}